@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #f2f2f2;  
}
nav{
    width: 600px;
    height:60px ;
}